!!!
%html{html_attrs}
  %head
    %title Checkmate
    %script{:src => "/checkmate.js", :type => "text/javascript"}
    %script{:src => "/lib/checkmate/#{@page}.js", :type => "text/javascript"}
    :javascript
      Checkmate.bosh_uri = '#{bosh_uri}';
    - if true || apple
      %link{:href => "/logo.png", :rel => "apple-touch-icon"}
      %meta{:name => "apple-mobile-web-app-capable", :content =>"yes"}
      %meta{:name => "apple-mobile-web-app-status-bar-style",
             :content => "black-translucent"}

  %body{:class => @page}
    = yield      